/*
  --------------------------------- Layout du pied de page
*/

footer {
  background-color: rgb(0, 0, 0);
  color: #77acf1;
}

.piedpage {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);

  &__s1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0;

    &__externe,
    &__adresse,
    &__description {
      flex: 1 1 30%;
      flex-direction: column;
      text-align: center;
      align-items: center;

      .menu { // ul
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    &__adresse {
      flex: 1 1 40%;
    }

    &__description {
      flex: 1 1 400px;
    }
  }

  &__s2 {
    padding: 2vh 2vw;
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__s3 {
    display: flex;
    justify-content: center;
  }
}

/* Responsive design pour les écrans jusqu'à 1024px */
@media (max-width: 1024px) {
  .piedpage__s1 {
    gap: 2rem;
    flex-wrap: wrap;

    &__externe,
    &__adresse,
    &__description {
      flex: 1 1 45%;
    }
  }
}

/* Responsive design pour les écrans jusqu'à 768px */
@media (max-width: 768px) {
  .piedpage__s1 {
    gap: 1rem;

    &__externe,
    &__adresse,
    &__description {
      flex: 1 1 100%;
    }
  }

  .piedpage__s2 {
    padding: 2vh 1vw;
    height: auto;
  }

  .piedpage__s3 {
    flex-direction: column;
  }
}

/* Responsive design pour les écrans jusqu'à 480px */
@media (max-width: 480px) {
  .piedpage__s1 {
    gap: 1rem;

    &__externe,
    &__adresse,
    &__description {
      flex: 1 1 100%;
    }
  }

  .piedpage__s2 {
    padding: 2vh 0.5vw;
  }
}
