/* sass/composants/_vague.scss */

.vague {
    display: block;
    width: 100%;
    rotate: 180deg;
    height: 200px;     
    margin-bottom: -50px; // retire la bordure/trait blanc entre SVG et section
  }
  
  .vague--double {
    display: block;
    width: 100%;
    height: 200px;     
    margin-bottom: -50px; // retire la bordure/trait blanc entre SVG et section
  }
  